body {
    box-sizing: border-box;
    background-color: whitesmoke;
}
#root {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.contact-card {
    background-color: white;
    padding-top: 3.5px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  gray;
    margin: auto 10px;
}

.contact-card > img {
    display: block;
    margin: 10px auto;
    margin-top: 10px;
    border-radius: 2%;
}

.contact-card > h3 {
    font-size: 25px;
    margin: auto 12px;
}

.icon {
    max-width: 20px;
    margin-right: 5px;
}

.info-group {
    font-size: 12px;
    display: flex;
    margin: auto 12px;
}